@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

section {
  
  background-image:url("/img/");
  background-size: 100%;
  background-repeat:no-repeat;
  background-position: center;
  background-attachment: scroll;
}

.image-slider-container {
  margin: 1% 5%;
  width: 90%;
}

.image-slider-container .slick-prev:before,
.image-slider-container .slick-next:before {
  color: black;
}